/** @format */

:root {
	--primary-color: #302AE6;
	--navbar-color: #54565a;
	--font-color: #313131;
	--bg-color: #fff;
	--heading-color: #292922;
}

[data-theme="dark"] {
	--primary-color: #9A97F3;
	--navbar-color: #818cab;
	--font-color: #e1e1ff;
	--bg-color: #161625;
	--heading-color: #818cab;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* font-family: 'Courier New', Courier, monospace; */
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	color: var(--font-color);
}

#sticky-sidenav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 60px;
	padding: 20px 0;
	background-color: var(--navbar-color);
}

#main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color);
	align-items: center;
	justify-content: center;
}

#social-buttons,
#nav-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	padding: 26px 0;
}

/*.current-nav {*/
/*}*/
.socials,
.navigate {
	width: 30px;
	height: 30px;
	filter: drop-shadow(1px 4px 1px rgba(21, 21, 21, 0.575));
}

.socials:hover,
.navigate:hover {
	transform: scale(1.05);
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	top: 5px;
	left: 48px;
	z-index: 1;
	width: max-content;
	color: var(--font-color);
	/* background-color: #1a242c; */
	padding: 2px 4px;
	font-size: 18px;
	border-radius: 5px;
}
#text-home, #text-about, #text-projects {
	text-shadow: none;
	box-shadow: none;
}

.socials:hover .tooltip-text,
.navigate:hover .tooltip-text {
	visibility: visible;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 40px;
	color: var(--font-color);
}

#indent-and {
	padding-left: 32px;
}

.gradient-btn {
	margin-top: 20px;
	width: fit-content;
	padding: 8px 30px 8px 12px;
	position: relative;
}

.gradient-btn:hover {
	transform: scale(1.02);
}


.link-text {
	color: var(--font-color);
	text-decoration: none;
}


#pointer-about {
	position: absolute;
	right: -22px;
	top: 16px;
}


.options {
	position: absolute;
	top: 12px;
	right: 22px;
	gap: 12px;
}

.toggler {
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lang-icon:has(+ .lang-container:hover){
	transform: scale(1.1);
	animation: ease;
}


.toggle-circle:checked + .toggler {
	/* font-weight: 700; */
	color: rgb(208, 208, 208);
}

.toggle-circle {
	display: none;

}

.options {
	display: flex;
	column-gap: 22px;
	font-size: 18px;
}

.toggle-lang {
	width: max-content;
	gap: 8px;
	display: flex;
	height: fit-content;
	align-items: center;
	color: rgb(153, 153, 153);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lang-container {
	display: flex;
	gap: 3px;
}

.lang-divider {
	cursor: default;
	color: rgb(208, 208, 208);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#mode-icon path {
	width: 25px !important;
	height: 25px !important;
}

#mode-icon:hover {
	transform: scale(1.1);
}

.dark-mode {
	color: black;
}
